.Btn {
  background-color: var(--primary);
  color: #fff;
  padding: 20px 40px;
  border: 10px solid var(--secondary);
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
